@{
    ViewData["Title"] = "Home Page";
}
<div class="main" style="margin-right:135px;">
    <h1 class="text-center mt-3">Welkom</h1>
    <h2 class="text-center mt-1">Here is your main content area.</h2>
</div>

<div style="margin-right:135px;" class="d-flex flex-column align-items-center gap-3 mt-4">
    <a class="btn btn-primary btn-lg w-50" asp-controller="Products" asp-action="Index">Products</a>
    <a class="btn btn-primary btn-lg w-50" asp-controller="Customers" asp-action="Index">Customers</a>
    <a class="btn btn-primary btn-lg w-50" asp-controller="Orders" asp-action="Index">Orders</a>
    <a class="btn btn-primary btn-lg w-50" asp-controller="Stocks" asp-action="Index">Stocks</a>
	
</div>
