<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KE03_INTDEV_SE_2_Base</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KE03_INTDEV_SE_2_Base.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/fav.jpg" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow">
            <div class="container-fluid justify-content-center">
                <h3><a style="text-decoration:none;" class="text-white" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Matrix Inc.</a></h3>                
            </div>
        </nav>
    </header>
    <div class="d-flex">
        <div class="bg-primary text-white p-3" style="width: 220px; min-height: 100vh;">
            <h4><a style="text-decoration:none;" class="text-white" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Matrix Inc.</a></h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Products" asp-action="Index">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Customers" asp-action="Index">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
            </div>
        <div class="flex-grow-1">
            <main role="main" class="pb-3 ">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="bg-primary text-white container-fluid">
            &copy; 2025 - Matrix Inc. - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
